# Assignment 4:

# Question 1:
How to import pandas and check the version?

In [7]:
import pandas as pd
print(pd.__version__)

1.0.1

# Question 2:
How to create a series from a numpy array?

In [21]:
import numpy as np
arr=np.arange(5)
print(arr)
print(type(arr))
na=pd.Series(arr)
print(na)
print(type(na))

[0 1 2 3 4]
<class 'numpy.ndarray'>
0    0
1    1
2    2
3    3
4    4
dtype: int32
<class 'pandas.core.series.Series'>

# Question 3:
How to convert the index of a series into a column of a dataframe?

In [24]:
table = {
    "ABC":123,
    "DEF":456,
    "GHI":789,
    "JKL":999,
    "MNO":112 }
print(table)
print(type(table))

s = pd.Series(table)         # Create a series
print(s)

print(pd.DataFrame(s))       #create a dataframe  
s.reset_index()              #convert the index of series into a column of a dataframe

{'ABC': 123, 'DEF': 456, 'GHI': 789, 'JKL': 999, 'MNO': 112}
<class 'dict'>
ABC    123
DEF    456
GHI    789
JKL    999
MNO    112
dtype: int64
       0
ABC  123
DEF  456
GHI  789
JKL  999
MNO  112

  index    0
0   ABC  123
1   DEF  456
2   GHI  789
3   JKL  999
4   MNO  112

# Question 4:
Write the code to list all the datasets available in seaborn library.

In [25]:
import seaborn as sb
sb.get_dataset_names()

H:\Anaconda\conda\lib\site-packages\seaborn\utils.py:384: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file H:\Anaconda\conda\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [26]:
mpg=sb.load_dataset('mpg')
mpg.head(200)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
195,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
196,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
197,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
198,33.0,4,91.0,53.0,1795,17.4,76,japan,honda civic
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se

In [27]:
mpg.shape

(398, 9)

In [30]:
mpg['origin'].describe()

count     398
unique      3
top       usa
freq      249
Name: origin, dtype: object

# Question 5:
Which country origin cars are a part of this dataset?

In [33]:
country=mpg['origin'].unique()
print(country)

['usa' 'japan' 'europe']

# Question 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [34]:
import pandas as pd
import numpy as np

In [39]:
data=mpg
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [40]:
data.shape

(398, 9)

In [41]:
usa=data.groupby('origin').get_group('usa')
print(usa)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]